body {
  color: #30353A;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e6f7;
}

h1 {
  color: #30353b;
  text-align: center;
  flex: auto;
  font-size: 24px; 
  font-weight: bold; 
}

hr {
  border-radius: 10px;
  height: 5px;
  border: none;
  background-color: #30353A;
  width: 100px;
  margin: 0 auto; 
  margin-bottom: 20px; 
}

p {
  text-align: center;
}

.text-box {
  text-align: center;
}

.headerContent {
  width: 100%;
  max-width: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  background: #e1e1fa; 
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.headerLinksArea {
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 5;
}

.headerLink {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--txt1);
  font-family: var(--font1);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  transition: .1s;
}

.headerLink:hover {
  color: var(--txt3);
  transition: .1s;
}
.content {
  padding: 16px;
  padding-top: 112px; 
}




