@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

[data-theme="light"] {
  --bg1: #e6e6f7;
  --bg2: #e3e3fc;

  --txt1: #30353b;
  --txt2: #30353A;
}

body {
  color: var(--txt1);
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg1);
}

h1 {
  color: var(--txt2);
  flex: auto;
  font-size: 24px;
  font-weight: bold;
}

hr {
  border-radius: 10px;
  height: 5px;
  border: none;
  background-color: var(--txt2);
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.wordmark {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
}

.wordmark-link {
  color: var(--txt1);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  transition: .1s;
}

.header,
.header-content {
  display: flex;
  width: 100%;
}

.header {
  background: var(--bg2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-content {
  align-items: center;
  max-width: 1024px;
  padding: 15px 20px;
}

.header-links-area {
  flex-grow: 5;
  margin-left: 10px;
  margin-right: 10px;
}


.header-link {
  margin-left: 10px;
  color: var(--txt1);
  font-family: var(--font1);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  transition: .1s;
}

.header-link:hover {
  transition: .1s;
}

.page-container {
  margin: auto;
  padding: 15px;
  max-width: 1024px;
  padding-top: 60px;
}

.page-content {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1024px;
}

.about-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-box {
  width: 300px;
  padding: 10px;

}